/* ==========================================================================
   Work Variables
   ========================================================================== */
/* ==========================================================================
   Work styles
   ========================================================================== */
body {
  background-color: #fff;
}
h5 {
  margin: 2em 0 1em;
}
ul {
  list-style: none;
}
article ul li {
  margin: .8em 0;
  padding: .5em;
}
article ul li:nth-child(even) {
  background-color: #f4f4f4;
}
#main article section:first-child {
  padding-bottom: 1rem;
}
.services-list {
  float: none;
  clear: both;
  position: relative;
  margin: 0 auto;
  padding-bottom: 24rem;
}
.services-list ul {
  width: 100%;
}
.services-list ul li {
  background-color: transparent;
}
.services-list ul li a:hover {
  border-bottom: none;
}
.services-list ul li {
  float: left;
  clear: none;
  width: 43%;
  max-width: 390px;
}
.services-list ul li:nth-child(even) {
  float: right;
}
.services-list ul li a img {
  display: block;
  max-width: 100%;
}
.services-list ul li h5 {
  margin: 0 auto;
  font-size: .8em;
}
.services-list ul li:nth-child(even) {
  background-color: transparent;
}
.activate-fullscreen {
  display: none!important;
}
.slideshow-nav a.slideshow-next {
  margin: 0 0px 0 10px!important;
}
.client-list ul li {
  margin: 0;
}
@media only screen and (min-width: 24.18em) {
  .services-list ul li {
    width: 45%;
  }
}
@media only screen and (min-width: 28em) {
  .services-list {
    padding-bottom: 28rem;
  }
}
@media only screen and (min-width: 35em) {
  .services-list {
    padding-bottom: 30rem;
  }
}
@media only screen and (min-width: 40em) {
  .services-list {
    padding-bottom: 34rem;
  }
}
@media only screen and (min-width: 44em) {
  .services-list {
    padding-bottom: 35rem;
  }
}
@media only screen and (min-width: 47em) {
  .services-list {
    padding-bottom: 40rem;
  }
}
@media only screen and (min-width: 47.8em) {
  .services-list ul li h5 {
    font-size: 1em;
  }
  .services-list {
    width: 90%;
    padding-bottom: 36rem;
  }
  .client-list {
    width: 50%;
    float: left;
    font-size: .8em;
  }
  .client-list:nth-of-type(even) {
    float: right;
  }
}
@media only screen and (min-width: 53em) {
  .services-list {
    padding-bottom: 23rem;
  }
}
@media only screen and (min-width: 58.125em) {
  .services-list {
    width: 100%;
  }
  .services-list ul li {
    width: 33.3333333333333%;
    clear: none;
    float: left;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.6rem;
  }
  .services-list ul li:nth-child(even) {
    float: left;
  }
}
@media only screen and (min-width: 85.812em) {
  #main article section:first-child {
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}
@media only screen and (min-width: 78em) {
  #main article {
    padding-top: 14rem;
  }
  #main article section:first-child {
    width: 50%;
    float: left;
    clear: none;
    padding-top: 1.88rem;
    padding-right: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .services-list {
    width: 50%;
    float: right;
    clear: none;
    padding-bottom: 5rem;
  }
  .services-list ul li {
    width: 50%;
  }
}
@media only screen and (min-width: 88em) {
  .client-list ul li {
    width: 100%;
    float: left;
    clear: none;
    font-size: 1.2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* =Retina Queries
-------------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
}
