/* ==========================================================================
   Work Variables
   ========================================================================== */
/* ==========================================================================
   Work styles
   ========================================================================== */
body {
  background-color: #fff;
}
h5 {
  margin: 2em 0 1em;
}
ul {
  list-style: none;
}
article ul li {
  margin: .8em 0;
  padding: .5em;
}
article ul li:nth-child(even) {
  background-color: #f4f4f4;
}
.activate-fullscreen {
  display: none!important;
}
.slideshow-nav a.slideshow-next {
  margin: 0 0px 0 10px!important;
}
/* =Retina Queries
-------------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
}
